body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noOverflow{
  overflow: hidden !important;
  display: inline-block;
  position: relative;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.debuggerDisplay{
    width: 90%;
}

.tapeMemoryDisplay{
    margin-left: auto;
    display: inline-block;
    padding: 5px;
    height: 20%;
    width:100%;
}

.tapeDisplay{
    display: flex;
    flex-wrap: wrap;
    float: left;
    max-width: 99%;
}

.tapeCell{
    width: 45px; 
    height: 27px; 
    border-style: solid; 
    border-width: 2px; 
    border-color: white; 
    text-align: center;
}

.active{
    background-color: #CCCC00;
    color: #222200;
}

ul{
    text-align: left;
}

.errorMessage{
    color: red;
}

.greenLight{
    color: green;
}

.inputContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    width: 90%;
    padding: 5px;
}

/*This one*/
@media(max-width: 480px){
    .inputFieldContainer{
        min-width: 45%;
        max-width: 81%;
        margin: 3%;
        position: relative;
    }
}

@media(min-width: 481px){
    .inputFieldContainer{
        max-width: 30%;
        margin: 3%;
        position: relative;
    }

}

.inline{
    display: inline-block;
    width: 100%;
}

.runningProgramActiveDisplay{
    color: black;
    background-color: yellow;
}

button{
    margin: 2%;
    width: 9%;
    min-height: 36px;
    border-radius: 3%;
}
